rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas para la colección de reportes
    match /reports/{reportId} {
      allow read: if true; // Cualquiera puede leer los reportes verificados.
      allow create: if true; // Cualquiera puede enviar un nuevo reporte.
      allow update, delete: if request.auth != null; // Solo admins autenticados pueden modificar o borrar.
    }

    // Reglas para la colección de datos de personas cacheados
    match /people/{personId} {
      // Cualquiera puede leer los datos de una persona (necesario para mostrar la información).
      allow read: if true;
      
      // Cualquiera (en este caso, nuestro propio servidor) puede crear un nuevo documento 
      // de persona la primera vez que se consulta.
      allow create: if true;

      // Nadie puede modificar o borrar un registro de persona una vez creado.
      allow update, delete: if false;
    }

    // Reglas para el contador de búsquedas
    match /searchCounts/{searchCounter} {
        // Cualquiera (nuestra API y nuestro servidor) puede leer y escribir en el contador.
        allow read, write: if true;
    }
  }
}
