rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public read on people data
    match /people/{personId} {
      allow read: if true;
      // Only admins can write people data
      allow write: if request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }

    // Rules for reports
    match /reports/{reportId} {
      // Allow public read only for 'verified' reports. Admins can read all.
      allow read: if resource.data.status == 'verified' ||
                   (request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin');

      // Allow public creation of reports with validation for a cedula format like 'V-12345678'
      allow create: if request.resource.data.cedula.matches('^[VE]-[0-9]{6,8}$');

      // Only admins can update or delete reports
      allow update, delete: if request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }

    // Rules for search counts
    match /searchCounts/search_counter {
        // Allow anyone to read and update the counter
        allow read, write: if true;
    }

    // Admin collection can only be read/written by admins.
    match /admins/{adminId} {
        allow read, write: if request.auth != null && get(/databases/$(database)/documents/admins/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
